DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_URL=
APP_PORT=
BCRYPT_HASHING_ROUNDS=
EMAIL_USER=
EMAIL_PASS=
FRONTEND_URL=
CORS_ORIGINS=
REDIS_URL=

ACCESS_TOKEN_SECRET=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
